<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MascotBigFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MascotBigFile.Properties.Settings>
            <setting name="mascotDataFolder" serializeAs="String">
                <value>e:\inetpub\mascot\data</value>
            </setting>
            <setting name="mascotCgiFolder" serializeAs="String">
                <value>e:\inetpub\mascot\cgi</value>
            </setting>
            <setting name="mascotBookmark1" serializeAs="String">
                <value>Content-Disposition: form-data; name="FILE"; filename="</value>
            </setting>
            <setting name="mascotBookmark2" serializeAs="String">
                <value>Content-Type: application/octet-stream</value>
            </setting>
            <setting name="mascotSearchLog" serializeAs="String">
                <value>http://computer_name/mascot/x-cgi/ms-review.exe</value>
            </setting>
            <setting name="searchPamameterFileInfo" serializeAs="String">
                <value>The selected Mascot search parameters file has a suspecious file size: it must be a small file size (a few KB but neither in MB nor GB). Please select the appropriated one again.</value>
            </setting>
            <setting name="searchParametersFileSizeInBytesMax" serializeAs="String">
                <value>10000</value>
            </setting>
        </MascotBigFile.Properties.Settings>
    </applicationSettings>
</configuration>